.first-info-label {
    -fx-font-size: 20px;
}
.info-tf {
    -fx-font-size: 20px;
    -fx-background-color: #fafafa;
    -fx-border-color: #dfdfdf;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.info-label {
    -fx-font-size: 20px;
}