.info-tf {
    -fx-font-size: 20px;
    -fx-background-color: #fafafa;
    -fx-border-color: #dfdfdf;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.info-label {
    -fx-font-size: 20px;
}
.add-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-padding: 4 12;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.add-button:hover {
    -fx-background-color: #45a049;
}
.allergen-label {
    -fx-text-fill: white;
    -fx-pref-height: 30;
    -fx-background-radius: 5;
    -fx-padding: 0 3 0 3;
    -fx-font-weight: 700;
    -fx-font-size: 13;
}
.allergen-button {
    -fx-pref-height: 30;
    -fx-pref-width: 30;

    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-border-color: black;

    -fx-padding: 0 3 0 3;
    -fx-font-weight: 700;
    -fx-font-size: 13;
}
.allergen-button:hover {
    -fx-background-color: #eeeeee;
    -fx-cursor: hand;
}